
<div class="jumbotron">

    
        <p>Author : {{quote.author}}</p>
        <p> submitted by {{quote.publisher}} {{quote.date |dateCount}} days ago</p>


        <!-- <div class="row">
        <button  class="btn btn-info btn-lg"  (click)=submitLike(quote)>
        <span class="glyphicon glyphicon-thumbs-up"></span> likes</button>  <p>{{quote.likes}}</p>


        </div> -->


        <!-- <div class="row">
                <button  class="btn btn-info btn-lg"  (click)=submitUnlike(quote)>
                <span class="glyphicon glyphicon-thumbs-down">

                </span> dislikes</button> <p>{{quote.dislikes}}</p>
                </div> -->
        <button class="btn btn-danger" (click) = 'quoteComplete(true)'> Delete </button>

        
</div>






