<div class="container">

    <div style="text-align:center">
        <h1>
          {{ title }}
        </h1>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-6">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
        
        <div class="col-md-6">
          <h1>Quotes</h1>
            <ul>


                <div *ngFor = "let quote of quotes; let i = 'index'" style="list-style: none"><br>
                  <div id="{{i}}" appHighlight *ngIf="quote.likes===maxCount && quote.likes>0"></div>
                  <li style="color:#056b5b;">"{{quote.quoteDesc}}"</li><br><br>
                    <button  class="btn btn-info btn-lg"  (click)="submitLike(quote)">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Upvotes</button> <br><br> <p style="text-align:center">{{quote.likes}}</p>
                    <button  class="btn btn-info btn-lg"  (click)=submitUnlike(quote)>
                    <span class="glyphicon glyphicon-thumbs-down"></span> Downvotes</button><br><br> <p style="text-align: center">{{quote.dislikes}}</p>
                    <br>
                    <br>
                  <button class="btn btn-primary"  (click)='toogleDetails(i)'>Details</button><br>
                <app-quote-details *ngIf="quote.showDetails" [quote]='quote' (isComplete)= 'completeQuote($event,i)'></app-quote-details>
                </div>
                </ul>

                <!-- <div class="col-md-4 content" *ngFor="let quoteID of addNewQuote; let i = index">
                    <div id="{{i}}" appHighlight *ngIf="quoteID.vote===maxCount && quoteID.likes>0">
                    </div> -->
            
        </div>
        </div>
        </div>

</div>

  
  
  
  